/*body{
    background-color: aqua;
}*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/*shared style*/
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    border:none;
    border-radius: 5px;
    color:white;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
}
/*mainstyle*/
header{
    background-color: #FFF8F3;
    padding-top: 41px;
}
nav{
    width:71%;
    max-width:1140px;
    margin:0 auto;
   /* border:1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 45px;
    font-weight: 900px;
}
.color-orenge{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
}